<html>
	<head>
		<title>WebJars Demo</title>
		<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
			<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
			<script src="/webjars/jquery/jquery.min.js"></script>
			<script src="/webjars/sockjs-client/sockjs.min.js"></script>
			<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	</head>
	<body>
		<div class="container">
			<br />
			<div class="alert alert-success">
				<strong>Success!</strong>
				It is working as we expected.
			</div>
		</div>
	</body>
</html>